<div class="sidebar">
    <a class="active" >Profile</a>
    <a (click)="isProfile=false;isPost=true;isGallery= false;isTodo= false;">Posts</a>
    <a (click)="isProfile=false;isPost=false;isGallery= true;isTodo= false;">Gallery</a>
    <a (click)="isProfile=false;isPost=false;isGallery= false;isTodo= true;">ToDo</a>
  </div>
  
  <!-- Page content -->
  <div class="content">
      <div class="row px-4 py-5 d-block" >
          <span *ngIf="isProfile" >Profile</span>
          <span *ngIf="isPost">Post</span>
          <span *ngIf="isGallery">Gallery</span>
          <span *ngIf="isTodo">To do</span>
          <div (click)="goToHome()" class="cursor">
            <span style="width:20%"><img src="{{currUser.profilepicture}}"class="img-fluid" alt="" style="    width: 7%;
              border-radius: 50%;
          }"></span>
              <span class="float-right">{{currUser.name}}</span>
          </div>
         
        <hr>
      </div>
    <app-profile  *ngIf="isProfile" [currUser]="currUser"></app-profile>
    <app-posts *ngIf="isPost"></app-posts>
    <app-gallery *ngIf="isGallery"> </app-gallery>
    <app-todo *ngIf="isTodo"></app-todo>
  </div>