<div class="row">
    <div class="col">
        <div ><label>Name :</label>{{currUser.name}}</div>
        <div ><label>Email :</label>{{currUser.email}}</div>
            <div ><label>Phone :</label>{{currUser.phone}}</div>
                <div ><label>Website :</label>{{currUser.website}}</div>
        <hr>
        <div ><label>CatchPhrase :</label>{{currUser.company.catchPhrase}}</div>
        <div ><label>Name :</label>{{currUser.company.name}}</div>
        <div ><label>BS :</label>{{currUser.company.bs}}</div>
    </div>
   
    <div class="col">
        
        <div ><label>City :</label>{{currUser.address.city}}</div>
        <div ><label>Street :</label>{{currUser.address.street }}</div>
        <div ><label>Suite :</label>{{currUser.address.suite}}</div>
        <div ><label>Zip code :</label>{{currUser.address.zipcode}}</div>
        <hr>
    <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.4849156210116!2d73.14020141490342!3d19.21768708700675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7944eeca56ce9%3A0x1a523a838eaa68a4!2sSAKET%20VIDYA%20MANDIR%20ENGLISH%20HIGH%20SCHOOL!5e0!3m2!1sen!2sin!4v1578604425692!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        <div class="row">
            Lat: {{currUser.address.geo.lat}}
            Lng: {{currUser.address.geo.lng}}

        </div>
    </div>
   
</div>

