<div class="container">
    <div class="card  border-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Select an account</div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="display:flex;    align-items: center;cursor: pointer;"
                    *ngFor="let user of userList;index as i" (click)="seeProfileDetails(user.id)"> 
                    <p class=""><img class="img-fluid" src="{{user.profilepicture}}" alt="{{user.name}}">
                    </p>
                    <span>{{user.name}}</span>
                </li>

            </ul>
          
        </div>

    </div>
</div>