.profile-image-div{
    width: 80%;
    background: #17224c;
    border-radius: 50%;
    padding: 10px 0px;
    
  }
  img{
    /* width: 90%;
    display: table;
    margin: 0 auto; */
    border-radius: 50%;
  }